apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "copenhagen-ai-hackathon.fullname" . }}-frontend
  labels:
    {{- include "copenhagen-ai-hackathon.labels" . | nindent 4 }}
    component: frontend
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      {{- include "copenhagen-ai-hackathon.selectorLabels" . | nindent 6 }}
      component: frontend
  template:
    metadata:
      labels:
        {{- include "copenhagen-ai-hackathon.selectorLabels" . | nindent 8 }}
        component: frontend
    spec:
      {{- if .Values.frontend.imagePullSecrets }}
      imagePullSecrets:
      {{- range .Values.frontend.imagePullSecrets }}
      - name: {{ . }}
      {{- end }}
      {{- end }}
      containers:
      - name: frontend
        image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
        imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.frontend.service.port }}
          protocol: TCP
        resources:
          {{- toYaml .Values.frontend.resources | nindent 10 }}
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 5
          periodSeconds: 5
