apiVersion: v1
kind: Service
metadata:
  name: {{ include "consultant-matcher.fullname" . }}-backend
  labels:
    {{- include "consultant-matcher.labels" . | nindent 4 }}
    component: backend
spec:
  type: {{ .Values.backend.service.type }}
  ports:
    - port: {{ .Values.backend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "consultant-matcher.selectorLabels" . | nindent 4 }}
    component: backend
